<p class="text-center">Welcome to the <mark><strong>Sandbox</strong></mark></p>

To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>command</kbd> + <kbd>,</kbd></kbd>